<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">TP -FINAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link " routerLink="/AltaArt">Alta Articulo<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/BajaArt">Baja Articulo</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/ListArt">Modif Articulo</a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" routerLink="/AltaCli">Alta Cliente</a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" routerLink="/BajaCli">Baja Cliente</a>
      </li>
      <li class="nav-item ">
          <a class="nav-link " routerLink="/ListCli">Modif Cliente<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/AltaProv">Alta Proveedor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/BajaProv">Baja Proveedor</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="/ListProv">Modif Proveedor</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/AltaFacIng">Comprar</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/AltaFac">Vender</a>
    </li>
    </ul>
  </div>
</nav>




<div class="jumbotron">
  <h1 class="display-4">Bienvenido al TP FINAL!</h1>
  <p>
    En este Tp pusimos en practica lo aprendido en clase, realizamos distintos abms,
    nos conectamos con el backend utilizando node, y realizamos la persistencia con la base de
    datos postgresql, espero que les guste, por que a nosotros no (esteticamente hablando)!
  </p>
</div>