<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">TP -FINAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link " routerLink="/AltaArt">Alta Articulo<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/BajaArt">Baja Articulo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ListArt">Modif Articulo</a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" routerLink="/AltaCli">Alta Cliente</a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" routerLink="/BajaCli">Baja Cliente</a>
      </li>
      <li class="nav-item active ">
          <a class="nav-link " routerLink="/ListCli">Modif Cliente<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/AltaProv">Alta Proveedor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/BajaProv">Baja Proveedor</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="/ListProv">Modif Proveedor</a>
        </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/AltaFacIng">Comprar</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/AltaFac">Vender</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="form-row">
    <div class="form-group col-md-3 center">
      <label for="inputName">Nombre</label>
      <input type="text" class="form-control" id="inputName" placeholder="Nombre..." name="tiulo" [(ngModel)]="my_client.nombre">
    </div>

    <div class="form-group col-md-3 center">
      <label for="inputName">Apellido</label>
      <input type="text" class="form-control" id="inputName" placeholder="Apellido..." name="tiulo" [(ngModel)]="my_client.apellido">
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-2 center">
    <label for="inputImg">Telefono</label>
    <input type="text" class="form-control" id="inputImg" placeholder="Telefono..." name="inputImg" [(ngModel)]="my_client.telefono">
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-3 center">
    <label for="inputImg">Direccion</label>
    <input type="text" class="form-control" id="inputImg" placeholder="Direccion..." name="inputImg" [(ngModel)]="my_client.direccion">
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-3 center">
    <label for="inputImg">Cuil</label>
    <input type="text" class="form-control" id="inputImg" placeholder="Cuil..." name="inputImg" [(ngModel)]="my_client.cuil">
    </div>
  </div>



  <button type="submit" class="btn btn-primary center" (click)="putClient()">Aceptar</button>

